 .main_header-bg {
    background-image: url('../../assets/images/mobile/library-header-bg320.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .btn-box {
    display: flex;
    justify-content: center;
    padding-bottom: 65px;
  }

  .btn-box__action-btn {
    width: 130px;
    height: 45px;
    border-radius: 5px;
    color: var(--main-light-color);
    background-color: transparent;
    cursor: pointer;
    text-transform: uppercase;
    outline: none;
    font-family:  var(--main-font);
    font-weight: 500;
    margin-right: 20px;
  }

  .isActive {
    background-color: var(--main-decoration-color);
    border: none;
  }

  @media (min-resolution: 192dpi) {
    .main-header__bg {
      background-image: url('../../assets/images/mobile/library-header-bg320@2x.jpg');
    }
  }

  @media (min-width: 768px) {
    .main_header-bg {
      background-image: url('../../assets/images/tablet/library-header-bg768.jpg');
      margin-bottom: 55px;
    }

    .container {
      width: 620px;
    }

    .btn-box__action-btn {
      margin-right: 16px;
    }

    @media (min-resolution: 192dpi) {
      .main_header-bg {
        background-image: url('../../assets/images/tablet/library-header-bg768@2x.jpg');
      }
    }
  }

  @media (min-width: 1024px) {
    .main_header-bg {
      background-image: url('../../assets/images/desktop/library-header-bg1024.jpg');
    }
    .container {
      width: 876px;
    }
  }

  @media (min-resolution: 192dpi) {
    .main_header-bg {
      background-image: url('../../assets/images/desktop/library-header-bg1024@2x.jpg');
    }
  }

