 .main_header-bg {
    background-image: url('../../assets/images/mobile/home-header-bg320.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    margin-bottom: 20px;
  }

.search-form_input {
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 16px;
    color: #ffffff;
    font-family: var(--main-font);
    width: 280px;
    height: 16px;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    background-color: transparent;
    outline: none;
    font-weight: 300;
    padding-bottom: 2px;
    margin-bottom: 95px;
    background-image: url('../../assets/images/icons/search.svg');
    background-repeat: no-repeat;
    background-position: 100% 50%;
  }

  .search-form_input::placeholder {
    font-size: 14px;
    font-weight: 300;
    line-height: 16px;
    color: var(--main-light-color);
  }

  .search-form_input::placeholder:focus {
    text-transform: uppercase;
}

.error{
  color: var(--main-red-color);
  font-size: 12px;
  line-height: 16px;
  font-weight: 300;
  text-align: center;
  opacity: 0;
}

  @media (min-resolution: 192dpi) {
    .main_header-bg {
      background-image: url('../../assets/images/mobile/home-header-bg320@2x.jpg');
    }
  }

  @media (min-width: 768px) {
    .main_header-bg {
      background-image: url('../../assets/images/tablet/home-header-bg768.jpg');
      margin-bottom: 55px;
    }
    .container {
      width: 620px;
    }

    .search-form_input {
    width: 352px;
    }

    .search-form {
      text-align: center;
    }

    @media (min-resolution: 192dpi) {
      .main_header-bg {
        background-image: url('../../assets/images/tablet/home-header-bg768@2x.jpg');
      }
    }
  }

  @media (min-width: 1024px) {
    .main_header-bg {
      background-image: url('../../assets/images/desktop/home-header-bg1024.jpg');
    }

    .container {
      width: 876px;
    }

    .search-form_input {
      width: 340px;
    }

    @media (min-resolution: 192dpi) {
      .main_header-bg {
        background-image: url('../../assets/images/desktop/home-header-bg1024@2x.jpg');
      }
    }
  }

